<div class="container my-5">


    <h3>
        {{title}}
    </h3>

    <button class="btn btn-primary"
        (click)="setOpen()"

    > {{open== true? 'cerrar':'crear usuario'}} </button>
    <div class="row my-5">
        @if(open){
        <div class="col">
            <user-form (newUserEventEmitter)="addUser($event)" [user]="userSelected" />

            <!--[user]="userSelected"
            enviar al componente hijo
   -->
        </div>
        }


        <div class="col">
            <user [users]="users" (idUserEventEmitter)="removeUser($event)"
                (selectUserEventEmitter)="setselectedUser($event)" />
        </div>


    </div>
</div>