<h3>
    {{title}}
</h3>
@if(admin){

<button class="btn btn-primary my-2" [routerLink]="['/users/create']"> crear usuario </button>
}

@if(users.length==0){

<p class="my-2">No hay usuarios</p>
}
@else {
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Username</th>
                @if(admin){

                <th>eliminar</th>
                <th>
                    actulizar
                </th>
                }

            </tr>
        </thead>
        <tbody>

            @for( user of users;track $index){
            <tr>
                <!-- <td>{{user.id}}</td> -->
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                @if(admin){

                    <td><button class="btn btn-danger btn-sm" (click)="onRemoveUser(user.id)">
                            eliminar
                        </button></td>
                    <td><button class="btn btn-info btn-sm" (click)="onSelectedUser(user)"
                            [routerLink]="['/user/edit',user.id]">
                            actualizar
                        </button></td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
}

<paginador [paginator]="paginator" [url]="PageUrl"></paginador>